.App {
  text-align: center;
}
.Controls {
  /*display: flex;
  justify-content: center;*/
  margin: auto;

}

#username, #password {
  padding: 15px;
  font-size: 20px;
}
h1 {
  margin-top: 200px;
}

.App input {
  border:none;
  width: 300px;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
  outline: none;
}
.App input:focus {
  border-color: orangered;
}
.App input:focus::-webkit-input-placeholder {
  font-size: 15px;
  position: relative;
  top: -20px;
  transition: 0.2s ease-out;
}
#loginButton, #signupButton {
  margin-top: 20px;
  padding: 6px 10px;
  width: 330px;
  border-radius: 5px;
  font-size: 20px;
  border-style: none;
  color: white;
}
#loginButton {
  background-color: #ff8854;
}
#signupButton {
  background-color: #89e33b;
}
#loginButton:hover {
  background-color: #ff6b2b;
}
#signupButton:hover {
  background-color: limegreen;
}
