
.Home #main {
    transition: margin-left .5s;
    padding-top: 100px;
    text-align: center;
    background-color: whitesmoke;
    height: 700px;
}
.Home #main h1 {
    margin: 0px;
    font-size: 60px;
}

.Home #main h2 {
    margin: 0px;
}

#past-workouts, #achievements {
    padding: 30px;
    background-color: #5672f0;
    color: white;
    margin: 60px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
}


span {
    font-size:20px;
    cursor: default;
}


