/* background of modal */
.workout-preview-background {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
}

/* actual modal */
.workout-preview {
    background-color: white;
    height: 80%;
    margin: auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    -moz-box-shadow: 0 0 15px #ba5834;
    -webkit-box-shadow: 0 0 15px #ba5834;
}

.workout-preview h1, h2 {
    margin-top: 40px;
    text-align: center;
}

#start {
    height:60px;
    width:60px;
    border: none;
    background-color: #89e33b;
    color: black;
    border-radius: 25px;
}
#start:hover {
    background-color: limegreen;
}


